<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/contact.css"/>
  </head>
  <body>
    <div id = "background">
      <div id = "centered-box">
        <h1>Contact me!</h1>
        <h2>There are plenty of ways to contact me for a variety of reasons. Here are the best ways to do so!</h2>
        <div id = "contact-box">
          <div class = "box" id = "email-box">
            <h1>Email</h1>
            <h2>
              Personal Email:<br>
              <a href="mailto:bzqin88@gmail.com">bzqin88@gmail.com</a>
            </h2>
            <h2>
              Carnegie Mellon Email:<br>
              <a href="mailto:bzq@andrew.cmu.edu">bzq@andrew.cmu.edu</a>
            </h2>
          </div>
          <div class = "box" id = "phone-box">
            <h1>Phone</h1>
            <h2>
              Cell (US Based):<br>
              +1(978)886-8024
            </h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
