<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/index.css"/>
  </head>
  <body>
    <%
      n = 0
      links = []
      File.open("data/links.txt", "r").each_line do |line|
        links[n] = line
        n += 1
      end
     %>
    <div id = "background">
      <div id = "name-box">
        <h1>Bill Z. Qin</h1>
        <h2><a href = "https://www.cmu.edu">Carnegie Mellon University</a>'s <a href = "https://www.cs.cmu.edu">SCS</a> '23</h2>
        <h2><a href = "https://www.andover.edu">Phillips Academy</a> '19</h2>
        <div id = "link-boxes">
          <div id = "resume-box" class = "link-box">
            <h4>View My Resume</h4>
            <a href = "<%= links[0] %>"><img src = "/images/gdrive.png" class = "img-button"></img></a>
          </div>
          <div id = "github-box" class = "link-box">
            <h4>Fork and Star Me</h4>
            <a href = "<%= links[1] %>"><img src = "/images/github.png" class = "img-button"></img></a>
          </div>
          <div id = "linkedin-box" class = "link-box">
            <h4>Connect With Me</h4>
            <a href = "<%= links[2] %>"><img src = "/images/linkedin.png" class = "img-button"></img></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
