body
{
  overflow-x: hidden;
}
#experience-box
{
  width: 0%;
  display: flex;
  height: 75%;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 90px;
  transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
}
.experience
{
  overflow-y: auto;
  border: solid black;
  border-width: 0px 0px 0px 5px;
  width: 600px;
  height: 23%;
  padding: 15px 30px;
  margin: 15px;
}
.experience::-webkit-scrollbar-thumb {
  background-color: #00000066;
  border-radius: 5px;
}
.experience::-webkit-scrollbar-track {
  background-color: #00000000;
  border-radius: 5px;
}
.experience::-webkit-scrollbar {
  background-color: #00000000;
}
.experience h2
{
  margin-top: 5px;
}
